

.navbar {
    width: 100%;
    padding-top: 5px;
    display: flex;
}

.dark {
    color: var(--color-dark);
    background-color: var(--secondary-dark);
}

.light {
    color: var(--color-light);
    background-color: var(--secondary-light);
}


.tab {
    min-width: 50px;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: var(--font-medium);
    cursor: pointer;
    transition: all ease 0.2s;
}

.tab.dark:hover:not(.active) {
    background-color: var(--secondary-dark-lighter);
}

.tab.dark {
    border: 1px solid var(--secondary-dark-lighter);
    border-bottom: none;
    background-color: var(--secondary-dark);
}

.active.dark {
    background-color: var(--accent-dark);
}

.tab.light:hover:not(.active) {
    background-color: var(--secondary-light-lighter);
}

.tab.light {
    border: 1px solid var(--secondary-light-lighter);
    border-bottom: none;
    background-color: var(--secondary-light);
}

.active.light {
    background-color: var(--accent-light);
}

.crossBox {
    padding: 5px;
}

.cross {
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    background-color: transparent;
    font-weight: var(--font-bold);
    transition: all ease 0.2s;
    cursor: pointer;
}

.cross.dark:hover {
    background-color: var(--secondary-dark-lighter);
}

.cross.dark:hover {
    background-color: var(--secondary-dark-lighter);
}

.subMenu {
    display: none;
    position: absolute;
    margin-top: 5px;
    padding: 5px;
    z-index: 1;
    border-radius: 10px;
}

.tab:hover .subMenu {
    display: block;
}

.subMenu.light {
    border: 1px solid var(--secondary-light-lighter);
    border-top: none;
}

.subMenu.dark {
    border: 1px solid var(--secondary-dark-lighter);
    border-top: none;
}

.subMenuTab {
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.subMenuTab.light:hover {
    background-color: var(--secondary-light-lighter);
}

.subMenuTab.dark:hover {
    background-color: var(--secondary-dark-lighter);
}