

.navbar {
    width: 100%;
    padding-top: 5px;
    display: flex;
}

.dark {
    color: var(--color-dark);
    background-color: var(--secondary-dark);
}

.light {
    color: var(--color-light);
    background-color: var(--secondary-light);
}


.tab {
    min-width: 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
    font-size: var(--font-medium);
    cursor: pointer;
    transition: all ease 0.2s;
}

.tab.dark:hover:not(.active) {
    background-color: var(--secondary-dark-lighter);
}

.tab.dark {
    border: 1px solid var(--secondary-dark-lighter);
    border-bottom: none;
    background-color: var(--secondary-dark);
}

.active.dark {
    background-color: var(--accent-dark);
}

.tab.light:hover:not(.active) {
    background-color: var(--secondary-light-lighter);
}

.tab.light {
    border: 1px solid var(--secondary-light-lighter);
    border-bottom: none;
    background-color: var(--secondary-light);
}

.active.light {
    background-color: var(--accent-light);
}

.active {
    cursor: default;
}

.cross {
    z-index: 2;
    border-radius: 50%;
    padding: 1px;
    background-color: transparent;
    font-weight: var(--font-bold);
    transition: all ease 0.2s;
    cursor: pointer;
}

.cross.dark:hover {
    background-color: var(--secondary-dark-lighter);
}

.cross.dark:hover {
    background-color: var(--secondary-dark-lighter);
}