:root {
    --color-light: #112D4E;
    --color-dark: #EEEEEE;

    --background-light: #F9F7F7;
    --background-dark: #222831;

    --accent-light: #3F72AF;
    --accent-dark: #00ADB5;

    --secondary-light: #DBE2EF;
    --secondary-light-lighter: #e9e9ec;
    --secondary-dark: #393e46;
    --secondary-dark-lighter: rgba(255, 255, 255, 0.1);

    --font-small: 14px;
    --font-medium: 16px;
    --font-large: 18px;
    --font-bold: 600;
}

* {
    padding: 0;
    margin: 0;
    font-size: var(--font-small);
    box-sizing: border-box;
}